:root {
    --primary-color: #FF005A;
  }
  
  body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .side-bar > li {
    font-size: 18px;
    display: block;
    padding-left: 25px;
    text-transform: uppercase;
  }
  
  
  .side-bar > li:hover {
    text-decoration: underline;
  }

  .fa-odnoklassniki {
      
  }
  
  .side-bar {
    background-color: #263140;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .active::before {
    content: "\23FA";
    color: var(--primary-color);
  }
  
  .full-height {
    min-height: 100vh;
    height: 100%;
  }
  
  
  .bcg-img {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(50, 119, 224, 0.365806) 47.74%, rgba(49, 117, 121, 0.379167) 66.15%, rgba(243, 24, 169, 0.3325) 73.96%, rgba(198, 40, 40, 0) 100%), url('../assets/images/StockSnap_QEUHCFGQNP.jpg') no-repeat;
    background-size: cover;
  }
  
  .photo-block {
    margin-top: 70px;
    height: 476px;
    width: 100%;
  }
  
  .my-photo {
    height: 100%;
    width: 100%;
    background: no-repeat center url('../assets/images/img_girl.jpg');
    background-size: cover;
    border: 2px solid var(--primary-color); 
  }
  
  .name {
      font-size:36px;
      font-weight:bold;
      text-transform: uppercase;


  
  }
  
  .about {
  
  }
  
  .about-me-text {
  
  }
  
  .links {
  font-size:43px;


  }

.info-wrap{
    font-size:30px
    

}

  .links > a {
    transition: all .2s ease-in-out;
    margin-left:40px
   
  }
  
  a > i:hover {
    transform: scale(1.3);
  }
  
  
  .menu {
    top: 20px;
    left: 20px;
    font-size: 36px;
    position: absolute;
    z-index: 1;
  }
  
  .page-wrapper {
    position: relative;
  }
  